extends admin_layout
block content
   .container.posRel
      h2 Пользователи
      hr
      .event-results-tabs
         .initMeTable(data-get_object="user")
   script(type="text/javascript", src="js/html/admin_users.js")