doctype html
html
    head
        meta(charset="UTF-8")
        title Административная панель cfft.ru
        link(href="img/favicon_admin.png", rel="shortcut icon", type="image/x-icon")
        link(rel="stylesheet", type="text/css", href="plugins/bootstrap-3.3.2-dist/css/bootstrap.min.css")
        link(rel="stylesheet", type="text/css", href="plugins/bootstrap-3.3.2-dist/css/bootstrap-theme.min.css")
        link(rel="stylesheet", type="text/css", href="plugins/fontAwesome/css/font-awesome.min.css")
        link(rel="stylesheet", type="text/css", href="plugins/toastr/toastr.min.css")
        link(rel="stylesheet", type="text/css", href="plugins/bootstrap-datepicker-master/css/datepicker.css")
        link(rel="stylesheet", type="text/css", href="plugins/bootstrap-datepicker-master/css/datepicker3.css")
        link(rel="stylesheet", type="text/css", href="plugins/select2/dist/select2.css")
        link(rel="stylesheet", type="text/css", href="plugins/select2/dist/select2-bootstrap.css")
        link(rel="stylesheet", type="text/css", href="plugins/ckeditor/contents.css")
        link(rel="stylesheet", type="text/css", href="plugins/fullcalendar-2.2.6/fullcalendar.min.css")
        link(rel="stylesheet", type="text/css", href="css/core.css")
        link(rel="stylesheet", type="text/css", href="css/style.css")
        link(rel="stylesheet", type="text/css", href="css/style_admin.css")

        script(type="text/javascript", src="plugins/jquery-1.11.0.min.js")
        script(type="text/javascript", src="plugins/bootstrap-3.3.2-dist/js/bootstrap.min.js")
        script(type="text/javascript", src="plugins/mustache.js")
        script(type="text/javascript", src="plugins/bootbox.min.js")
        script(type="text/javascript", src="plugins/toastr/toastr.min.js")
        script(type="text/javascript", src="plugins/bootstrap-datepicker-master/js/bootstrap-datepicker.js")
        script(type="text/javascript", src="plugins/bootstrap-datepicker-master/js/locales/bootstrap-datepicker.ru.js")
        script(type="text/javascript", src="plugins/mask.min.js")
        script(type="text/javascript", src="plugins/select2/dist/select2.js")
        script(type="text/javascript", src="plugins/select2/dist/select2_locale_ru.js")
        script(type="text/javascript", src="plugins/fullcalendar-2.2.6/lib/moment.min.js")
        script(type="text/javascript", src="plugins/fullcalendar-2.2.6/fullcalendar.min.js")
        script(type="text/javascript", src="js/core.js")
        script(type="text/javascript", src="js/index.js")
        script(type="text/javascript", src="js/script.js")
        script(src="./socket.io/socket.io.js")
        script(src="js/delivery.js")
        script(src="js/uploadFiles.js")
        script(src="js/socketClient.js")
        script(type="text/javascript", src="js/admin.js")
        script(type="text/javascript", src="js/login.js")

        script(type="text/javascript", src="plugins/ckeditor/ckeditor.js")
        script(type="text/javascript", src="js/fn_train.js")
        script(type="text/javascript", src="js/edit_event.js")
        script(type="text/javascript", src="js/table.js")


        meta(name="viewport", content="width=device-width, initial-scale=1")

    body
        .page-wrapper.admin_layout
            if toastr
                include notifier
            include admin_header
            block content

