extends layout
block content
    .page-content
        .container.marBot30.noPad
            h3.fullDarkHeader
                span.fullDarkHeader-inner
                    | Контакты
        .container.marBot30.noPad
            .col-md-12
                p
                    | Контент скоро появится