//extends layout
block content
    .page-content
        .container.posRel.mh450
            h2
                | Ой, что-то пошло не так...
            hr
            h4
                | #{message}
            .sBtn.green
                a(href="/")
                    .fa.fa-home
                    | &nbsp;&nbsp;На главную
            img.p_404(src="img/p_404.jpg")
