<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>cfft.ru | &#1043;&#1083;&#1072;&#1074;&#1085;&#1072;&#1103; &#1089;&#1090;&#1088;&#1072;&#1085;&#1080;&#1094;&#1072;</title>
    <link rel="stylesheet" type="text/css" href="plugins/bootstrap-3.3.2-dist/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="plugins/bootstrap-3.3.2-dist/css/bootstrap-theme.min.css">
    <link rel="stylesheet" type="text/css" href="plugins/fontAwesome/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="plugins/toastr/toastr.min.css">
    <link rel="stylesheet" type="text/css" href="plugins/bootstrap-datepicker-master/css/datepicker.css">
    <link rel="stylesheet" type="text/css" href="plugins/bootstrap-datepicker-master/css/datepicker3.css">
    <link rel="stylesheet" type="text/css" href="plugins/select2/dist/select2.css">
    <link rel="stylesheet" type="text/css" href="plugins/select2/dist/select2-bootstrap.css">
    <link rel="stylesheet" type="text/css" href="plugins/fullcalendar-2.2.6/fullcalendar.min.css">
    <link rel="stylesheet" type="text/css" href="css/core.css">
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <link rel="stylesheet" type="text/css" href="css/redesign.css">
    <script type="text/javascript" src="plugins/jquery-1.11.0.min.js"></script>
    <script type="text/javascript" src="plugins/bootstrap-3.3.2-dist/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="plugins/mustache.js"></script>
    <script type="text/javascript" src="plugins/bootbox.min.js"></script>
    <script type="text/javascript" src="plugins/toastr/toastr.min.js"></script>
    <script type="text/javascript" src="plugins/bootstrap-datepicker-master/js/bootstrap-datepicker.js"></script>
    <script type="text/javascript" src="plugins/bootstrap-datepicker-master/js/locales/bootstrap-datepicker.ru.js"></script>
    <script type="text/javascript" src="plugins/mask.min.js"></script>
    <script type="text/javascript" src="plugins/select2/dist/select2.js"></script>
    <script type="text/javascript" src="plugins/select2/dist/select2_locale_ru.js"></script>
    <script type="text/javascript" src="plugins/fullcalendar-2.2.6/lib/moment.min.js"></script>
    <script type="text/javascript" src="plugins/fullcalendar-2.2.6/fullcalendar.min.js"></script>
    <script type="text/javascript" src="plugins/fullcalendar-2.2.6/lang/ru.js"></script>
    <script type="text/javascript" src="js/core.js"></script>
    <script type="text/javascript" src="js/index.js"></script>
    <script type="text/javascript" src="js/script.js"></script>
    <script type="text/javascript" src="js/login.js"></script>
  </head>
  <body>
    <div class="page-wrapper container noPad">
      <div class="page-header preheader">
        <div class="container orange">
          <div class="contact-us"><i class="fa fa-phone">&nbsp;&nbsp;</i>cfft_info@gmail.com | +7 (499) 984-55-44</div>
          <div class="preheaderButtons-wrapper">
            <div id="userObject" data-view="login" class="preheaderBtn"><a href="#"><i class="fa fa-key"></i>&nbsp;&nbsp;Войти</a></div>
            <div data-view="login" class="preheaderBtn"><a href="registration"><i class="fa fa-key"></i>&nbsp;&nbsp;&#1056;&#1077;&#1075;&#1080;&#1089;&#1090;&#1088;&#1072;&#1094;&#1080;&#1103;</a></div>
          </div>
        </div>
      </div>
      <div class="page-header">
        <div class="container">
          <div id="logo" class="logo">c<span class="redLogo">ff</span>t.ru</div>
          <div class="main-menu-wrapper">
            <ul id="top-main-menu" class="main-menu">
              <li><a href="wow"><i class="fa fa-gavel">&nbsp;&nbsp;</i>WOD OF WEEK</a></li>
              <li><a href="events"><i class="fa fa-flag-o">&nbsp;&nbsp;</i>GAMES</a></li>
              <!--li-->
              <!--   a(href="#").open-calendar-->
              <!--      i.fa.fa-calendar-->
              <!--.calendar-wrapper-->
            </ul>
          </div>
        </div>
      </div>
      <div class="container">
        <h2>&Mcy;&iecy;&rcy;&ocy;&pcy;&rcy;&icy;&yacy;&tcy;&icy;&yacy;
          <hr>
          <div class="row">
            <div class="col-md-4">
              <div class="form-group">
                <label>&Pcy;&ocy;&icy;&scy;&kcy; &mcy;&iecy;&rcy;&ocy;&pcy;&rcy;&icy;&yacy;&tcy;&icy;&jcy;</label>
                <input type="text" placeholder="Введите название" class="form-control search-event">
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label>&Dcy;&acy;&tcy;&acy; &mcy;&iecy;&rcy;&ocy;&pcy;&rcy;&icy;&yacy;&tcy;&icy;&yacy;</label>
                <div class="input-group">
                  <div class="input-group-addon">&Scy;:</div>
                  <input type="text" placeholder="" class="cf_datepicker event-from-date form-control">
                  <div class="input-group-addon">&Pcy;&ocy;:</div>
                  <input type="text" placeholder="" class="cf_datepicker event-to-date form-control">
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="events-list-wrapper">
                <ul class="events-list">
                  <li data-id="" class="event-item">
                    <div class="event-item-img"><img src="img/event1.jpg"></div>
                    <div class="event-item-info">
                      <div class="event-item-title">
                        <div class="titleInner"><a href="event">V &Ocy;&ncy;&lcy;&acy;&jcy;&ncy; &icy;&gcy;&rcy;&ycy;</a></div>
                        <div class="dateInner">30 &yacy;&ncy;&vcy;&acy;&rcy;&yacy; 2015</div>
                      </div>
                      <p class="event-item-desc">
                        &Ucy; &ncy;&acy;&scy; &mcy;&acy;&lcy;&iecy;&ncy;&softcy;&kcy;&icy;&jcy; &pcy;&rcy;&acy;&zcy;&dcy;&ncy;&icy;&kcy;. 5 &lcy;&iecy;&tcy; &ncy;&acy;&zcy;&acy;&dcy; &IEcy;&gcy;&ocy;&rcy;&ocy;&mcy; &Gcy;&ocy;&lcy;&ucy;&bcy;&iecy;&vcy;&ycy;&mcy; &bcy;&ycy;&lcy;&icy; &pcy;&rcy;&ocy;&vcy;&iecy;&dcy;&iecy;&ncy;&ycy; &pcy;&iecy;&rcy;&vcy;&ycy;&iecy; On-line &Icy;&gcy;&rcy;&ycy;.
                        5 &lcy;&iecy;&tcy; &ncy;&acy;&zcy;&acy;&dcy; &ncy;&acy;&shcy;&iecy; &scy;&ocy;&ocy;&bcy;&shchcy;&iecy;&scy;&tcy;&vcy;&ocy; &bcy;&ycy;&lcy;&ocy; &scy;&kcy;&rcy;&ocy;&mcy;&ncy;&ycy;&mcy; &kcy;&lcy;&ucy;&bcy;&ocy;&mcy; &iecy;&dcy;&icy;&ncy;&ocy;&mcy;&ycy;&shcy;&lcy;&iecy;&ncy;&ncy;&icy;&kcy;&ocy;&vcy;, &tcy;&iecy;&pcy;&iecy;&rcy;&softcy; &ecy;&tcy;&ocy; &dcy;&icy;&ncy;&acy;&mcy;&icy;&chcy;&ncy;&ocy; &rcy;&acy;&zcy;&vcy;&icy;&vcy;&acy;&yucy;&shchcy;&iecy;&iecy;&scy;&yacy;
                        Community!
                      </p>
                    </div>
                  </li>
                  <li data-id="" class="event-item">
                    <div class="event-item-img"><img src="img/event2.jpg"></div>
                    <div class="event-item-info">
                      <div class="event-item-title">
                        <div class="titleInner"><a href="event">Great outdoor workout</a></div>
                        <div class="dateInner">23 &fcy;&iecy;&vcy;&rcy;&acy;&lcy;&yacy; 2015</div>
                      </div>
                      <p class="event-item-desc">
                        &Scy;&tcy;&acy;&tcy;&softcy; &dcy;&ocy;&ncy;&ocy;&rcy;&ocy;&mcy; &mcy;&ocy;&zhcy;&iecy;&tcy; &pcy;&rcy;&acy;&kcy;&tcy;&icy;&chcy;&iecy;&scy;&kcy;&icy; &lcy;&yucy;&bcy;&ocy;&jcy; &zcy;&dcy;&ocy;&rcy;&ocy;&vcy;&ycy;&jcy; &chcy;&iecy;&lcy;&ocy;&vcy;&iecy;&kcy;, &iecy;&scy;&lcy;&icy; &ocy;&ncy; &scy;&tcy;&acy;&rcy;&shcy;&iecy; 18 &lcy;&iecy;&tcy;, &ncy;&iecy; &icy;&mcy;&iecy;&iecy;&tcy;
                        &pcy;&rcy;&ocy;&tcy;&icy;&vcy;&ocy;&pcy;&ocy;&kcy;&acy;&zcy;&acy;&ncy;&icy;&jcy; &kcy; &dcy;&ocy;&ncy;&ocy;&rcy;&scy;&tcy;&vcy;&ucy;, &acy; &iecy;&gcy;&ocy; &vcy;&iecy;&scy; &bcy;&ocy;&lcy;&softcy;&shcy;&iecy; 50 &kcy;&gcy;.
                      </p>
                    </div>
                  </li>
                  <li data-id="" class="event-item">
                    <div class="event-item-img"><img src="img/event3.jpg"></div>
                    <div class="event-item-info">
                      <div class="event-item-title">
                        <div class="titleInner"><a href="event">Reebok Crossfit Games 2014</a></div>
                        <div class="dateInner">08 &mcy;&acy;&rcy;&tcy;&acy; 2015</div>
                      </div>
                      <p class="event-item-desc">
                        &Ncy;&acy;&pcy;&ocy;&mcy;&icy;&ncy;&acy;&iecy;&mcy;, &chcy;&tcy;&ocy; &dcy;&lcy;&yacy; &tcy;&ocy;&gcy;&ocy;, &chcy;&tcy;&ocy;&bcy;&ycy; &scy;&tcy;&acy;&tcy;&softcy; &dcy;&ocy;&ncy;&ocy;&rcy;&ocy;&mcy; &TScy;&iecy;&ncy;&tcy;&rcy;&acy; &kcy;&rcy;&ocy;&vcy;&icy; &Fcy;&Mcy;&Bcy;&Acy; &Rcy;&ocy;&scy;&scy;&icy;&icy; &ncy;&iecy; &ocy;&bcy;&yacy;&zcy;&acy;&tcy;&iecy;&lcy;&softcy;&ncy;&ocy;
                        &icy;&mcy;&iecy;&tcy;&softcy; &rcy;&iecy;&gcy;&icy;&scy;&tcy;&rcy;&acy;&tscy;&icy;&yucy; &vcy; &Mcy;&ocy;&scy;&kcy;&vcy;&iecy; &icy;&lcy;&icy; &Mcy;&ocy;&scy;&kcy;&ocy;&vcy;&scy;&kcy;&ocy;&jcy; &ocy;&bcy;&lcy;&acy;&scy;&tcy;&icy;. &Tcy;&iecy;&mcy;, &ucy; &kcy;&ocy;&gcy;&ocy; &ncy;&iecy;&tcy; &pcy;&ocy;&scy;&tcy;&ocy;&yacy;&ncy;&ncy;&ocy;&jcy; &icy;&lcy;&icy; &vcy;&rcy;&iecy;&mcy;&iecy;&ncy;&ncy;&ocy;&jcy;
                        &rcy;&iecy;&gcy;&icy;&scy;&tcy;&rcy;&acy;&tscy;&icy;&icy;, &dcy;&ocy;&scy;&tcy;&acy;&tcy;&ocy;&chcy;&ncy;&ocy; &vcy;&zcy;&yacy;&tcy;&softcy; &scy; &scy;&ocy;&bcy;&ocy;&jcy; &pcy;&acy;&scy;&pcy;&ocy;&rcy;&tcy; &icy; &scy;&pcy;&rcy;&acy;&vcy;&kcy;&ucy; &scy; &mcy;&iecy;&scy;&tcy;&acy; &rcy;&acy;&bcy;&ocy;&tcy;&ycy; &icy;&lcy;&icy; &ucy;&chcy;&iecy;&bcy;&ycy; &vcy; &Mcy;&ocy;&scy;&kcy;&vcy;&iecy;
                        (&Mcy;&ocy;&scy;&kcy;&ocy;&vcy;&scy;&kcy;&ocy;&jcy; &ocy;&bcy;&lcy;&acy;&scy;&tcy;&icy;) &pcy;&rcy;&ocy;&icy;&zcy;&vcy;&ocy;&lcy;&softcy;&ncy;&ocy;&jcy; &fcy;&ocy;&rcy;&mcy;&ycy;, &pcy;&ocy;&dcy;&tcy;&vcy;&iecy;&rcy;&zhcy;&dcy;&acy;&yucy;&shchcy;&ucy;&yucy; &fcy;&acy;&kcy;&tcy; &tcy;&rcy;&ucy;&dcy;&ocy;&ucy;&scy;&tcy;&rcy;&ocy;&jcy;&scy;&tcy;&vcy;&acy; &icy;&lcy;&icy;
                        &pcy;&rcy;&ocy;&khcy;&ocy;&zhcy;&dcy;&iecy;&ncy;&icy;&yacy; &ocy;&bcy;&ucy;&chcy;&iecy;&ncy;&icy;&yacy;.
                      </p>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </h2>
      </div>
      <div class="page-footer">
        <div class="big-content-wrapper">
          <div class="bot_bg bot_position">
            <div class="container">
              <div id="footer_logo" class="logo">c<span class="redLogo">ff</span>t.ru</div>
              <div id="bot-main-menu" class="main-menu-wrapper">
                <ul class="main-menu">
                  <li>&#1043;&#1083;&#1072;&#1074;&#1085;&#1072;&#1103;</li>
                  <li>&#1054;&#1073;&#1086; &#1084;&#1085;&#1077;</li>
                  <li>&#1052;&#1077;&#1088;&#1086;&#1087;&#1088;&#1080;&#1103;&#1090;&#1080;&#1103;</li>
                  <li>&#1042;&#1080;&#1076;&#1077;&#1086;</li>
                  <li>Crossfit</li>
                  <li>&#1048;&#1075;&#1088;&#1099;</li>
                  <li>&#1042;&#1086;&#1081;&#1090;&#1080;</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>