block footer
    .page-footer
        .noPad.prefooter
            //.subscribe Подписаться на рассылку
            .social-media-block
                .flLeft.preSocial Мы в соц. сетях:
                a.fa.fa-facebook.hov_fb(target="_blank", href="https://www.facebook.com/groups/784528851634020/")
                a.fa.fa-vk.hov_vk(target="_blank", href="http://vk.com/wod_of_week")
                //a.fa.fa-google-plus.hov_gp
        .container
            #footer_logo.logo
                img(src="img/f_logo.png")
            #bot-main-menu.main-menu-wrapper
                //ul.main-menu
                //   li
                //      a(href="rules") Регламент
                //   //li
                //   //   a Карта сайта
                //   li
                //      a(href="for_partners") Для партнеров
                //   li
                //      a(href="contacts") Контакты