<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <link rel="stylesheet" type="text/css" href="plugins/bootstrap-3.3.2-dist/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="plugins/bootstrap-3.3.2-dist/css/bootstrap-theme.min.css">
    <link rel="stylesheet" type="text/css" href="plugins/fontAwesome/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="css/core.css">
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <script type="text/javascript" src="plugins/jquery-1.11.0.min.js"></script>
    <script type="text/javascript" src="plugins/bootstrap-3.3.2-dist/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="plugins/mustache.js"></script>
    <script type="text/javascript" src="plugins/bootbox.min.js"></script>
    <script type="text/javascript" src="js/core.js"></script>
    <script type="text/javascript" src="js/index.js"></script>
    <script type="text/javascript" src="js/script.js"></script>
  </head>
  <body>
    <div class="page-footer">
      <div class="big-content-wrapper">
        <div class="bot_bg bot_position">
          <div class="container">
            <div id="footer_logo" class="logo">c<span class="redLogo">ff</span>t.ru</div>
            <div id="bot-main-menu" class="main-menu-wrapper">
              <ul class="main-menu">
                <li>&#1043;&#1083;&#1072;&#1074;&#1085;&#1072;&#1103;</li>
                <li>&#1054;&#1073;&#1086; &#1084;&#1085;&#1077;</li>
                <li>&#1052;&#1077;&#1088;&#1086;&#1087;&#1088;&#1080;&#1103;&#1090;&#1080;&#1103;</li>
                <li>&#1042;&#1080;&#1076;&#1077;&#1086;</li>
                <li>Crossfit</li>
                <li>&#1048;&#1075;&#1088;&#1099;</li>
                <li>&#1042;&#1086;&#1081;&#1090;&#1080;</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>