extends layout
block content
    .page-content
        .container.marBot30.noPad
            h3.fullDarkHeader
                span.fullDarkHeader-inner
                    | F.A.Q. Для участников
            .row
                .col-md-12
                    .col-md-12
                        //.col-md-2
                        //    a.athlet_step(href='#s1') 1. Регистрация
                        //.col-md-2
                        //    a.athlet_step(href='#s2') 2. Прием Видео
                        //.col-md-2
                        //    a.athlet_step(href='#s3') 3. Отправка Видео
                        //.col-md-2
                        //    a.athlet_step(href='#s4') 4. Очередь
                        //.col-md-2
                        //    a.athlet_step(href='#s5') 5. Проверка Видео
                        //.col-md-2
                        //    a.athlet_step(href='#s6') 6. Обратная Связь

                        .col-md-12
                            h3
                                |Вы первый раз на сайте, а может забыли как у нас все тут устроено?
                                |Вот несколько шагов, которые необходимо выполнить, что бы все работало так как надо!
                            hr
                            h4
                                |Регистрация на мероприятие:
                            ul
                                li
                                    |Вы должны "авторизоваться" на сайте.
                            div.marBot20.h320.wid100pr.cover(style="background-image: url(img/fa_1.jpg)")
                            ul
                                li
                                    |Выбрать и зайти на страницу
                                    |соревнования,  и просто нажать  "Участвовать!".
                            h4
                                |Прием результатов:
                            p
                                |По клику на кнопку "Подать заявку" появится всплывающее окно с формой отправки заявки, необходимо указать ссылку на
                                |видео, сдавали ли вы в аффилиате и ваш результат по комплексу, в формате, предложенном
                                |системой.

                            div.marBot20.h420.wid100pr.cover(style="background-image: url(img/fa_2.jpg)")
                            ul
                                li
                                    |Ссылку на видео (при желании). Помните,  согласно Регламенту администрация имеет
                                    |право запросить Ваше видео.
                                li
                                    |Сдавали ли вы в аффилиате или нет.
                                li
                                    |Ваш результат по комплексу, в формате, предложенном системой.
                            h4
                                |Редактирование профайла:
                            ul
                                li
                                    |Внести изменения в своем профайле можно через меню "Профайл" --> «Редактировать»
                            p
                                |*Если в списке залов нет Вашего зала, просьба написать письмо на обратную связь для получения
                                |инструкции.
                                |Свой результат можно улучшить, пока не ограниченное количество раз, но скорее всего будут
                                |внесены ограничения на количество попыток, так что не злоупотребляйте!
                                |Если у Вас появляются вопросы, пишите,обратная связь всегда к Вашим услугам.
                                |Удачных стартов!

                            //h3#s1 Регистрация.
                            //h4 Вы первый раз на сайте, а может забыли как у нас все тут устроено?
                            //p
                            //    | Вот несколько шагов, которые необходимо выполнить что бы зарегистрироваться на Игры.
                            //ol
                            //    li
                            //        p
                            //            | Вы должны "авторизоваться" на сайте.
                            //            //одним из удобных для Вас способов.
                            //            //Рекомендую воспользоваться "Контактом".
                            //        img.wide-img(src='img/for_img_1.jpg', alt='Log In')
                            //    li
                            //        p
                            //            | Зайти на страницу
                            //            a(href='events') &nbsp;cоревнований,&nbsp;
                            //            | выбрать соревнование
                            //            | и просто нажать на "Подать заявку". Вам будет присужден номер участника и место по итогам комплексов.
                            //            | Внести изменения в своем профайле можно через меню "Профайл"
                            //        p
                            //            img.wide-img(src='img/for_img_2.jpg', alt='Подать заявку')
                            //h3#s2 Прием видео
                            //p
                            //    | Впервые, в рамках этого соревнования, мы открываем возможность самим участникам отсылать свои результаты через сайт.
                            //p
                            //    | Чтобы не было хаоса и беспредела, все отосланные результаты выстраиваются в очередь. Из которой судьи по порядку разбирают видео и выносят решение.
                            //h3#s3 Отправка видео
                            //p
                            //    | По клику на кнопку "Подать заявку" появится всплывающее окно с формой отправки заявки,
                            //    | необходимо указать ссылку на видео, сдавали ли вы в аффилиате и ваш результат по комплексу, в формате, предложенном системой.
                            //p
                            //    img.wide-img(src='img/for_img_3.jpg', alt='Кроссфит отправка результата')
                            //p
                            //    | На этой страничке каждый участник может отправить свою попытку по каждому из предложенных WOD'ов.
                            //p
                            //    | Попытка сопровождается результатом, указанном в нужном формате (формат указан в комментарии).
                            //p Видео или галочкой (если Атлет сдавал в аффилированном клубе или на Drop Box).
                            //p
                            //    | В случае, если атлет сдает в аффиляте и не претендует на топовые места, он может не указывать свое видео (
                            //    a(href='http://cfft.ru/opens/4/reglament#s7') подробнее
                            //    | ).
                            //p
                            //    img(src='/images/online/2013/for_competitors/resalt/resalt.jpg', alt='Resalt')
                            //p
                            //    strong Важно!
                            //    |  Чтобы в клубе вас внесли в список под вашей фамилией, а также указали ваш номер и результат.
                            //h3#s4 Очередь
                            //p
                            //    | Каждая отосланная попытка попадает в живую очередь со статусом
                            //    span.label ожидает проверки
                            //    | . В случае, если попытка пересохраняется, она переносится в конец очереди.
                            //h3#s5 Проверка видео
                            //p
                            //    | Судьи выбирают первых в очереди и присваивают статус
                            //    span.label.label-info проверяется
                            //    | .
                            //    | Попытки, которые находятся в проверке, не могут быть отправлены заново пока по ним не будет вынесено решение.
                            //p
                            //    | Судья может вынести одно из двух решений:
                            //    span.label.label-success принято
                            //    |  и
                            //    span.label.label-important отклонено
                            //    | В последнем случае будет указана причина, по которой отклонена попытка.
                            //p Вынесенное решение можно прочитать на странице отправки видео.
                            //p
                            //    | Попытка, получившая статус "принято", копируется лидерборд и становится результатом,
                            //p
                            //    | Свой результат можно улучшить, пока не ограниченное количество раз,
                            //    | но скорее всего будут внесены ограничения на количество попыток,
                            //    | так что не злоупотребляйте!
                            //h3#s6
                            //    | Если у Вас появляются вопросы, пишите,
                            //    a(href='http://cfft.ru/feedback') обратная связь
                            //    |  всегда к Вашим услугам.
                            //h4 Удачных стартов!
