
<div class="page-header">
  <div class="container">
    <div id="logo" class="logo">c<span class="redLogo">ff</span>t.ru</div>
    <div class="main-menu-wrapper">
      <ul id="top-main-menu" class="main-menu">
        <li><i class="fa fa-video-camera"></i>&#1042;&#1080;&#1076;&#1077;&#1086;</li>
        <li><i class="fa fa-calendar"></i>&#1057;&#1086;&#1073;&#1099;&#1090;&#1080;&#1103;</li>
        <li><i class="fa fa-info-circle"></i>&#1055;&#1086;&#1083;&#1077;&#1079;&#1085;&#1072;&#1103; &#1080;&#1085;&#1092;&#1086;&#1088;&#1084;&#1072;&#1094;&#1080;&#1103;</li>
        <li id="userObject" data-view="login"><i class="fa fa-key"></i>&#1042;&#1086;&#1081;&#1090;&#1080;</li>
        <li data-view="login"><a href="registration.html"><i class="fa fa-key"></i>&#1056;&#1077;&#1075;&#1080;&#1089;&#1090;&#1088;&#1072;&#1094;&#1080;&#1103;</a></li>
      </ul>
    </div>
  </div>
</div>