block content
    form#login-form(name="login-form" method="POST")
        label(for="login") Логин:
        input#login(type="text", name="login", value="user1@user1.ru")
        label(for="password") Пароль:
        input#password(type="password", name="password", value="user1")
        button(type="submit", data-loading-text="Отправляю...") Войти
        .error
    | user1/user1
    script(src="js/login.js")

