<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>cfft.ru | &#1043;&#1083;&#1072;&#1074;&#1085;&#1072;&#1103; &#1089;&#1090;&#1088;&#1072;&#1085;&#1080;&#1094;&#1072;</title>
    <link rel="stylesheet" type="text/css" href="plugins/bootstrap-3.3.2-dist/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="plugins/bootstrap-3.3.2-dist/css/bootstrap-theme.min.css">
    <link rel="stylesheet" type="text/css" href="plugins/fontAwesome/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="plugins/toastr/toastr.min.css">
    <link rel="stylesheet" type="text/css" href="plugins/bootstrap-datepicker-master/css/datepicker.css">
    <link rel="stylesheet" type="text/css" href="plugins/bootstrap-datepicker-master/css/datepicker3.css">
    <link rel="stylesheet" type="text/css" href="plugins/select2/dist/select2.css">
    <link rel="stylesheet" type="text/css" href="plugins/select2/dist/select2-bootstrap.css">
    <link rel="stylesheet" type="text/css" href="plugins/fullcalendar-2.2.6/fullcalendar.min.css">
    <link rel="stylesheet" type="text/css" href="css/core.css">
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <link rel="stylesheet" type="text/css" href="css/redesign.css">
    <script type="text/javascript" src="plugins/jquery-1.11.0.min.js"></script>
    <script type="text/javascript" src="plugins/bootstrap-3.3.2-dist/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="plugins/mustache.js"></script>
    <script type="text/javascript" src="plugins/bootbox.min.js"></script>
    <script type="text/javascript" src="plugins/toastr/toastr.min.js"></script>
    <script type="text/javascript" src="plugins/bootstrap-datepicker-master/js/bootstrap-datepicker.js"></script>
    <script type="text/javascript" src="plugins/bootstrap-datepicker-master/js/locales/bootstrap-datepicker.ru.js"></script>
    <script type="text/javascript" src="plugins/mask.min.js"></script>
    <script type="text/javascript" src="plugins/select2/dist/select2.js"></script>
    <script type="text/javascript" src="plugins/select2/dist/select2_locale_ru.js"></script>
    <script type="text/javascript" src="plugins/fullcalendar-2.2.6/lib/moment.min.js"></script>
    <script type="text/javascript" src="plugins/fullcalendar-2.2.6/fullcalendar.min.js"></script>
    <script type="text/javascript" src="plugins/fullcalendar-2.2.6/lang/ru.js"></script>
    <script type="text/javascript" src="js/core.js"></script>
    <script type="text/javascript" src="js/index.js"></script>
    <script type="text/javascript" src="js/script.js"></script>
    <script type="text/javascript" src="js/login.js"></script>
  </head>
  <body>
    <div class="page-wrapper container noPad">
      <div class="page-header preheader">
        <div class="container orange">
          <div class="contact-us"><i class="fa fa-phone">&nbsp;&nbsp;</i>cfft_info@gmail.com | +7 (499) 984-55-44</div>
          <div class="preheaderButtons-wrapper">
            <div id="userObject" data-view="login" class="preheaderBtn"><a href="#"><i class="fa fa-key"></i>&nbsp;&nbsp;Войти</a></div>
            <div data-view="login" class="preheaderBtn"><a href="registration"><i class="fa fa-key"></i>&nbsp;&nbsp;&#1056;&#1077;&#1075;&#1080;&#1089;&#1090;&#1088;&#1072;&#1094;&#1080;&#1103;</a></div>
          </div>
        </div>
      </div>
      <div class="page-header">
        <div class="container">
          <div id="logo" class="logo">c<span class="redLogo">ff</span>t.ru</div>
          <div class="main-menu-wrapper">
            <ul id="top-main-menu" class="main-menu">
              <li><a href="wow"><i class="fa fa-gavel">&nbsp;&nbsp;</i>WOD OF WEEK</a></li>
              <li><a href="events"><i class="fa fa-flag-o">&nbsp;&nbsp;</i>GAMES</a></li>
              <!--li-->
              <!--   a(href="#").open-calendar-->
              <!--      i.fa.fa-calendar-->
              <!--.calendar-wrapper-->
            </ul>
          </div>
        </div>
      </div>
      <div class="page-content">
        <div class="row">
          <div class="col-md-12">
            <div class="main-slider-wrapper-new col-md-8 container noPad">
              <div class="main-slider-view">
                <div class="main-slider-controls">
                  <div class="main-slider-slide-left"><i class="fa fa-angle-left"></i></div>
                  <div class="main-slider-dots-wrapper">
                    <ul class="dots">
                      <li><i class="fa fa-circle"></i></li>
                      <li><i class="fa fa-circle"></i></li>
                      <li><i class="fa fa-circle"></i></li>
                    </ul>
                  </div>
                  <div class="main-slider-slide-right"><i class="fa fa-angle-right"></i></div>
                </div>
                <ul data-shift="0" class="main-slider">
                  <li class="slide"><img src="img/slide1.jpg">
                    <!--.slide-text Lorem ipsum dolor sit!-->
                  </li>
                  <li class="slide"><img src="img/slide2.jpg">
                    <!--.slide-text Lorem ipsum dolor sit!-->
                  </li>
                  <li class="slide"><img src="img/slide3.jpg">
                    <!--.slide-text Lorem ipsum dolor sit!-->
                  </li>
                </ul>
              </div>
            </div>
            <div class="nearrest-wow-event col-md-4">ololol</div>
          </div>
        </div>
        <div class="container adv-block">
          <div class="row">
            <div class="col-md-4">
              <h3>Скажи плиз</h3>
              <p>advertisment text block</p>
            </div>
            <div class="col-md-4">
              <h3>что тут</h3>
              <p>advertisment text block</p>
            </div>
            <div class="col-md-4">
              <h3>разместить?</h3>
              <p>advertisment text block</p>
            </div>
          </div>
        </div>
        <div class="container padTop40 marBot30">
          <div class="row">
            <div class="col-md-3 noPad">
              <div class="article-item-wrapper">
                <div class="article-item-img-wrapper"><img src="img/article1.jpg"></div>
                <div class="article-item-title red-mid-header">Ближайшее мероприятие 1</div>
                <div class="article-item-text text">
                  Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                  industry&apos;s standard dummy text ever since the 1500s, when an unknown printer took a galley of type and
                  scrambled it to make a type specimen book.
                </div>
              </div>
            </div>
            <div class="col-md-3 noPad">
              <div class="article-item-wrapper">
                <div class="article-item-img-wrapper"><img src="img/article2.jpg"></div>
                <div class="article-item-title red-mid-header">Ближайшее мероприятие 2</div>
                <div class="article-item-text text">
                  Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                  industry&apos;s standard dummy text ever since the 1500s, when an unknown printer took a galley of type and
                  scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into
                  electronic typesetting, remaining essentially unchanged.
                </div>
              </div>
            </div>
            <div class="col-md-3 noPad">
              <div class="article-item-wrapper">
                <div class="article-item-img-wrapper"><img src="img/article3.jpg"></div>
                <div class="article-item-title red-mid-header">Ближайшее мероприятие 3</div>
                <div class="article-item-text text">
                  Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                  industry&apos;s standard dummy text ever since the 1500s, when an unknown printer took a galley of type and
                  scrambled it to make a type specimen book. It has survived not only five centuries.
                </div>
              </div>
            </div>
            <div class="col-md-3 noPad">
              <div class="event-list-wrapper">
                <div class="event-list-header">
                  <div class="event-list-header-title"><i class="fa fa-calendar posRel"><i class="fa fa-circle-o whats_next_lil_icon"></i></i>&nbsp;&nbsp;&nbsp;&CHcy;&tcy;&ocy; &dcy;&acy;&lcy;&softcy;&shcy;&iecy;?</div>
                </div>
                <div class="event-list-content">
                  <ul class="event-list-items">
                    <li>
                      <div class="event-list-item-date-wrapper">
                        <div class="event-list-item-date-day">23</div>
                        <div class="event-list-item-date-mth">&fcy;&iecy;&vcy;</div>
                      </div>
                      <div class="event-list-item-title">Mass workout at fatherland defender day</div>
                    </li>
                    <li>
                      <div class="event-list-item-date-wrapper">
                        <div class="event-list-item-date-day">08</div>
                        <div class="event-list-item-date-mth">&mcy;&acy;&rcy;</div>
                      </div>
                      <div class="event-list-item-title">Womans day workout, girls only</div>
                    </li>
                    <li>
                      <div class="event-list-item-date-wrapper">
                        <div class="event-list-item-date-day">01</div>
                        <div class="event-list-item-date-mth">&yacy;&ncy;&vcy;</div>
                      </div>
                      <div class="event-list-item-title">New years party-workout with Santa!</div>
                    </li>
                    <li>
                      <div class="event-list-item-date-wrapper">
                        <div class="event-list-item-date-day">12</div>
                        <div class="event-list-item-date-mth">&yacy;&ncy;&vcy;</div>
                      </div>
                      <div class="event-list-item-title">First work day of year workout</div>
                    </li>
                  </ul>
                </div>
                <div class="event-list-footer">&Pcy;&ocy;&scy;&mcy;&ocy;&tcy;&rcy;&iecy;&tcy;&softcy; &vcy;&scy;&iecy; &mcy;&iecy;&rcy;&ocy;&pcy;&rcy;&icy;&yacy;&tcy;&icy;&yacy;</div>
              </div>
            </div>
          </div>
        </div>
        <div class="container noPad dark-bg row-block">
          <div class="row-block-inner">Would you like to start training right now?</div>
          <div class="row-block-btn orange flRight"><i class="fa fa-flag-o">&nbsp;&nbsp;</i>Найти зал</div>
          <div class="row-block-btn orange flRight"><i class="fa fa-flag-o">&nbsp;&nbsp;</i>Найти мероприятие</div>
          <div class="row-block-btn orange flRight"><i class="fa fa-flag-o">&nbsp;&nbsp;</i>Онлайн игры</div>
        </div>
        <div class="adv-block-wrapper">
          <div>
            <div class="container padTop30">
              <div class="row">
                <div class="col-md-9">
                  <div class="adv-bunner-wrapper"><img src="img/adv_bunner_big.jpg"></div>
                </div>
                <div class="col-md-3">
                  <div class="adv-bunner-wrapper"><img src="img/adv_bunner.jpg"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!--.page-content-->
      <!--    .main-slider-wrapper.big-content-wrapper-->
      <!--        .fadeLeft-->
      <!--        .main-slider-view-->
      <!--            .main-slider-slide-left-->
      <!--                i.fa.fa-angle-left-->
      <!--            .main-slider-slide-right-->
      <!--                i.fa.fa-angle-right-->
      <!--            .main-slider-dots-wrapper-->
      <!--            ul.main-slider(data-shift="0")-->
      <!--                li.slide-->
      <!--                    img(src="img/slide1.jpg")-->
      <!--                    .slide-text Lorem ipsum dolor sit!-->
      <!--                li.slide-->
      <!--                    img(src="img/slide2_derp.jpg")-->
      <!--                    .slide-text Lorem ipsum dolor sit!-->
      <!--                li.slide-->
      <!--                    img(src="img/slide3.jpg")-->
      <!--                    .slide-text Lorem ipsum dolor sit!-->
      <!--        .fadeRight
      .adv-block-wrapper.big-content-wrapper
          .fadeLeft
          .fadeRight
          .bot_bg
              .container.padTop40
                  .pr33.flLeft.adv-item
                      img(src="img/adv1.jpg")
                      .adv-item-title
                          | Advertisement block 1
                          .adv-item-angle
                  .pr33.flLeft.adv-item
                      img(src="img/adv2.jpg")
                      .adv-item-title
                          | Advertisement block 1
                          .adv-item-angle
                  .pr33.flLeft.adv-item
                      img(src="img/adv3.jpg")
                      .adv-item-title
                          | Advertisement block 1
                          .adv-item-angle
                  .promo-wrapper
                      .promo-text
                          | Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                          | industry"s standard dummy text ever since the 1500s, when an unknown printer took a galley of type and
                          | scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into
                          | electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release
                          | of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software
                          | like Aldus PageMaker including versions of Lorem Ipsum.
                      .promo-text
                          .row.marBot10
                              .col-md-9.marTop22.fs-16
                                  | &#1061;&#1086;&#1095;&#1077;&#1096;&#1100; &#1087;&#1086;&#1090;&#1077;&#1088;&#1103;&#1090;&#1100; &#1083;&#1080;&#1096;&#1085;&#1080;&#1081; &#1074;&#1077;&#1089;, &#1085;&#1072;&#1073;&#1088;&#1072;&#1090;&#1100; &#1084;&#1099;&#1096;&#1077;&#1095;&#1085;&#1091;&#1102; &#1084;&#1072;&#1089;&#1089;&#1091;, &#1089;&#1090;&#1072;&#1090;&#1100; &#1089;&#1080;&#1083;&#1100;&#1085;&#1077;&#1077;?
                              .col-md-3
                                  .sBtn.red.flRight.btn_want-to-train &#1061;&#1086;&#1095;&#1091; &#1090;&#1088;&#1077;&#1085;&#1080;&#1088;&#1086;&#1074;&#1072;&#1090;&#1100;&#1089;&#1103;
      .container.padTop40.marBot30
          .row
              .col-md-3
                  .article-item-wrapper
                      .article-item-img-wrapper
                          img(src="img/article1.jpg")
                      .article-item-title.red-mid-header
                          | Letraset sheets
                      .article-item-text.text
                          | Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                          | industry"s standard dummy text ever since the 1500s, when an unknown printer took a galley of type and
                          | scrambled it to make a type specimen book.
              .col-md-3
                  .article-item-wrapper
                      .article-item-img-wrapper
                          img(src="img/article2.jpg")
                      .article-item-title.red-mid-header
                          | Letraset sheets
                      .article-item-text.text
                          | Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                          | industry"s standard dummy text ever since the 1500s, when an unknown printer took a galley of type and
                          | scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into
                          | electronic typesetting, remaining essentially unchanged.
              .col-md-3
                  .article-item-wrapper
                      .article-item-img-wrapper
                          img(src="img/article3.jpg")
                      .article-item-title.red-mid-header
                          | Letraset sheets
                      .article-item-text.text
                          | Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                          | industry"s standard dummy text ever since the 1500s, when an unknown printer took a galley of type and
                          | scrambled it to make a type specimen book. It has survived not only five centuries.
              .col-md-3
                  .event-list-wrapper
                      .event-list-header
                          .event-list-header-title
                              i.fa.fa-calendar.posRel
                                  i.fa.fa-circle-o.whats_next_lil_icon
                              | &#1063;&#1090;&#1086; &#1076;&#1072;&#1083;&#1100;&#1096;&#1077;?
                      .event-list-content
                          ul.event-list-items
                              li
                                  .event-list-item-date-wrapper
                                      .event-list-item-date-day 23
                                      .event-list-item-date-mth &#1092;&#1077;&#1074;
                                  .event-list-item-title
                                      | Mass workout at fatherland defender day
                              li
                                  .event-list-item-date-wrapper
                                      .event-list-item-date-day 08
                                      .event-list-item-date-mth &#1084;&#1072;&#1088;
                                  .event-list-item-title
                                      | Womans day workout, girls only
                              li
                                  .event-list-item-date-wrapper
                                      .event-list-item-date-day 01
                                      .event-list-item-date-mth &#1103;&#1085;&#1074;
                                  .event-list-item-title
                                      | New years party-workout with Santa!
                              li
                                  .event-list-item-date-wrapper
                                      .event-list-item-date-day 12
                                      .event-list-item-date-mth &#1103;&#1085;&#1074;
                                  .event-list-item-title
                                      | First work day of year workout
                      .event-list-footer
                          | &#1055;&#1086;&#1089;&#1084;&#1086;&#1090;&#1088;&#1077;&#1090;&#1100; &#1074;&#1089;&#1077; &#1084;&#1077;&#1088;&#1086;&#1087;&#1088;&#1080;&#1103;&#1090;&#1080;&#1103;
      .promo-wrapper.big-content-wrapper
          .fadeLeft
          .fadeRight
          .bg3
              .container.padTop30.padBot30
                  .row
                      .col-md-6
                          .promo-big-text.ta-left
                              | &#1093;&#1086;&#1095;&#1077;&#1096;&#1100; &#1089;&#1090;&#1072;&#1090;&#1100; &#1089;&#1080;&#1083;&#1100;&#1085;&#1077;&#1077; &#1080;
                              br
                              | &#1085;&#1072;&#1081;&#1090;&#1080; &#1077;&#1076;&#1080;&#1085;&#1086;&#1084;&#1099;&#1096;&#1083;&#1077;&#1085;&#1085;&#1080;&#1082;&#1086;&#1074;?
                              br
                              br
                              | &#1087;&#1086;&#1089;&#1077;&#1090;&#1080; &#1086;&#1076;&#1085;&#1086; &#1080;&#1079;
                              span.red
                                  | &#1085;&#1072;&#1096;&#1080;&#1093;
                                  br
                                  | &#1084;&#1077;&#1088;&#1086;&#1087;&#1088;&#1080;&#1103;&#1090;&#1080;&#1081;
                              | &#1087;&#1086;
                              br
                              | &#1082;&#1088;&#1086;&#1089;&#1089;&#1092;&#1080;&#1090;&#1091;
                      .col-md-6
                          .promo-big-text.ta-right
                              | &#1090;&#1088;&#1077;&#1085;&#1080;&#1088;&#1091;&#1081;&#1089;&#1103; &#1074; &#1079;&#1072;&#1083;&#1077;
                              br
                              | &#1080;&#1083;&#1080; &#1076;&#1086;&#1084;&#1072;
                              br
                              br
                              | &#1074;&#1099;&#1073;&#1077;&#1088;&#1080; &#1074;&#1072;&#1088;&#1080;&#1072;&#1085;&#1090; &#1076;&#1083;&#1103;
                              br
                              | &#1089;&#1077;&#1073;&#1103;,
                              span.red
                                  | &#1085;&#1072;&#1095;&#1085;&#1080; &#1087;&#1088;&#1103;&#1084;&#1086;
                                  br
                                  | &#1089;&#1077;&#1081;&#1095;&#1072;&#1089;
                      .row
                          .col-md-12
                              .col-md-6
                                  .sBtn.red.btn_find-event.wid50pr &#1053;&#1072;&#1081;&#1090;&#1080; &#1084;&#1077;&#1088;&#1086;&#1087;&#1088;&#1080;&#1103;&#1090;&#1080;&#1077;
                              // <div class="col-md-6">
                              .col-md-3
                                  .sBtn.red.btn_find-club.wid100pr &#1053;&#1072;&#1081;&#1090;&#1080; &#1079;&#1072;&#1083;
                              .col-md-3
                                  .sBtn.yellow.btn_to-online-games.wid100pr &#1054;&#1085;&#1083;&#1072;&#1081;&#1085; &#1080;&#1075;&#1088;&#1099;
                              // </div>
      .adv-block-wrapper
          div
              .container.padTop30
                  .row.padBot30
                      .col-md-4
                          .filled-video
                              img(src="img/video1.jpg")
                      .col-md-4
                          .filled-video
                              img(src="img/video2.jpg")
                      .col-md-4
                          .filled-video
                              img(src="img/video3.jpg")
                  .row
                      .col-md-9
                          .adv-bunner-wrapper
                              img(src="img/adv_bunner_big.jpg")
                      .col-md-3
                          .adv-bunner-wrapper
                              img(src="img/adv_bunner.jpg")
      -->
      <div class="page-footer">
        <div class="big-content-wrapper">
          <div class="bot_bg bot_position">
            <div class="container">
              <div id="footer_logo" class="logo">c<span class="redLogo">ff</span>t.ru</div>
              <div id="bot-main-menu" class="main-menu-wrapper">
                <ul class="main-menu">
                  <li>&#1043;&#1083;&#1072;&#1074;&#1085;&#1072;&#1103;</li>
                  <li>&#1054;&#1073;&#1086; &#1084;&#1085;&#1077;</li>
                  <li>&#1052;&#1077;&#1088;&#1086;&#1087;&#1088;&#1080;&#1103;&#1090;&#1080;&#1103;</li>
                  <li>&#1042;&#1080;&#1076;&#1077;&#1086;</li>
                  <li>Crossfit</li>
                  <li>&#1048;&#1075;&#1088;&#1099;</li>
                  <li>&#1042;&#1086;&#1081;&#1090;&#1080;</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>