
extends layout
block content
    .adv-block-wrapper.big-content-wrapper
        .event-main-image-wrapper
            img(src="img/slide1.jpg")
        //.event_bg.h350(style="background-image: url(upload/#{event.image})")
    h2.event-main-header
        .container.posRel
            | Нет открытых водовиков


