extends layout
block content
    .page-content
        .container.marBot30.noPad
            h3.fullDarkHeader
                span.fullDarkHeader-inner
                    | Рагламент

            .row
                .col-md-12
                    .col-md-12.rulesView
                        .col-md-12
                            a.athlet_step(href='#s1') 1. Цели и задачи.
                        .col-md-12
                            a.athlet_step(href='#s2') 2. Сроки и место проведения.
                        .col-md-12
                            a.athlet_step(href='#s3') 3. Руководство проведением соревнования.
                        .col-md-12
                            a.athlet_step(href='#s4') 4. Требования к участникам соревнований и условия проведения.
                        .col-md-12
                            a.athlet_step(href='#s5') 5. Программа соревнований.
                        .col-md-12
                            a.athlet_step(href='#s6') 6. Определение победителей.
                        .col-md-12
                            a.athlet_step(href='#s7') 7. Судейство соревнований.
                        .col-md-12
                            a.athlet_step(href='#s8') 8. Протесты.
                        .col-md-12
                            a.athlet_step(href='#s9') 9. Условия финансирования.
                        .col-md-12
                            a.athlet_step(href='#s10')
                                | 10. Обеспечение безопасности участников и зрителей при сдаче комплексов в аффилированных залах
                        .col-md-12
                            h2#s1 1. Цели и задачи.
                            p 1.1. Wod of Week (далее - Соревнования) проводится с целью:
                            p 1.1.1. Пропаганды спорта и здорового образа жизни.
                            p 1.1.2. Популяризации спорта.
                            p 1.1.3. Развития и укрепления отношений между различными участниками сообщества.
                            p 1.1.4. Выявления наиболее физически подготовленных Атлетов
                            p 1.1.5. Повышения спортивного мастерства.
                            h2#s2 2. Cроки и место проведения соревнований
                            p 2.1. Регистрация открыта до момента, пока принимаются видео от участников.
                            p
                                | 2.2. Дата закрытия комплекса устанавливается администрацией ресурса и является неизменной. После закрытия комплекса видео не принимаются.
                            p
                                | 2.3. Финальный подсчет очков и формирование лидерборда происходит в течение следующей недели после закрытия комплекса.
                            p
                                | 2.4. Награждение победителей происходит после предоставления анкетных данных, затребованных у Участника Оргкомитетом.
                            h2#s3 3. Руководство проведением соревнований.
                            p
                                | 3.1. Общее руководство подготовкой и проведением Соревнований осуществляет Оргкомитетом.
                            p
                                | 3.2. Непосредственное проведение Соревнований осуществляется спортивным Оргкомитетом Соревнований.
                            h2#s4 4. Требования к участникам соревнований и условия проведения.
                            p
                                | 4.1. К участию допускаются Атлеты в двух возрастных категориях:
                                | от 18 (на момент регистрации) до 39 лет,
                                | 40+ лет (в категории участвуют лица, которым в течение соревновательного года исполняется или исполнилось 40 и более лет).
                            p
                                | 4.2. Регистрация бесплатная, кроме случаев, о которых администрация ресурса оповещает заблаговременно (до начала регистрации на Соревнование).
                            p
                                | 4.2.1. Первичная публикация видео бесплатная, кроме случаев, о которых администрация ресурса оповещает заблаговременно (до начала регистрации на Соревнование).
                            p
                                | 4.2.2. Повторная публикация видео – платная, кроме случаев, о которых администрация ресурса оповещает заблаговременно (до начала регистрации на Соревнование).
                            p
                                | 4.2.2.1. Плата фиксированная и определяется Оргкомитетом Соревнований заблаговременно.
                            p
                                | 4.3. Каждый участник обязан заполнить форму регистрации. В противном случае результаты участника не будут засчитаны.
                            p 4.4. Деление участников по весовым категориям не производится.
                            p
                                | 4.5. Для участия в Соревнованиях каждый Атлет обязан согласиться со всеми Правилами, включая отказ от претензий.
                            p 4.6. Каждый Атлет обязан демонстрировать спортивное поведение.
                            p
                                | 4.6.1. Неспортивное поведение, такое как споры, насмешки, оскорбления или физическое насилие по отношению к представителям Оргкомитета Соревнований, другим спортсменам, зрителям и спонсорам Соревнований, может наказываться штрафом, дисквалификацией, и дисквалификацией с будущих Соревнований.
                            p
                                | 4.6.2. Атлеты несут ответственность за поведение своих тренеров, группы поддержки и гостей. Если поведение кого-либо из указанной группы признается Оргкомитетом Соревнований неспортивным или создающим помехи для организации и проведения Соревнований, тогда к этому тренеру, группе поддержки или гостям будут применены указанные выше дисциплинарные меры.
                            p
                                | 4.7. При сдаче комплексов Атлеты допускаются к участию только при наличии у них спортивной формы, не создающей помех судейской оценке качества движения, и спортивной обуви.
                            p
                                | 4.8. На Соревновании разрешается использование эластичных бинтов, напульсников, перчаток, тейпов, поясных ремней для тяжелой Атлетики и пауэрлифтинга, компрессионной одежды, шапок, защиты паха и рук, магнезии, талька.
                            p
                                | 4.9. Не разрешается использование лямок, крюков, перчаток с крюками, клеящих веществ, комбинезонов для приседа и жимовых маек, костюмов с экзоскелетом и т.п. усилителями.
                            h2#s5 5. Программа соревнований.
                            p
                                | 5.1. Программа Соревнований включает в себя один комплекс, кроме случаев, о которых администрация ресурса оповещает заблаговременно (до начала регистрации на Соревнование).
                            p 5.1.1. Выполнение задания(-ий) должно в обязательном порядке быть снято на видео
                            p
                                | 5.1.2. По своему усмотрению Оргкомитет может просматривать видеозаписи выполнения любым из Атлетов вне зависимости от занятого места и локации выполнения задания
                            p
                                | 5.1.3. Видео с выполнением задания должно быть загружено на одном из видео-сервисов и находиться в публичном доступе. В противном случае результат может быть отклонен.
                            p
                                | 5.1.4. При занесении результатов выполнения задания необходимо указать ссылку на видеозапись
                            p
                                | 5.1.5. Результат задания появится в Таблице лидеров, как только таблица будет обновлена.
                            p
                                | 5.1.6. Результат выполнения задания может отличаться от заявленного Атлетом или аннулирован в случае, если при проверке Оргкомитетом будет выявлено грубое нарушение стандартов выполнения задания (см. п. 7. Судейство соревнований)
                            p
                                | 5.1.7. Задание при желании может быть переделано, в этом случае вносится новый результат и новое видео, результат в Таблице лидеров будет обновлен согласно п. 5.1.5.
                            p
                                | 5.1.8. Если результат не внесен на сайт или нет подтверждающего видео, или видео недоступно, данный результат считается недействительным
                            p
                                | 5.2. Для выявления лучших, Атлеты должны выполнить определенные соревновательные комплексы.
                            p 5.3. Соревновательные комплексы могут включать некоторые из упражнений:
                            p • Движения с внешними объектами (штанга, гири, гантели, медицинские мячи)
                            p • Гимнастические движения
                            p • Циклические движения (гребля, бег, скакалка и др)
                            p
                                | • А также иные функциональные упражнения по перемещению собственного тела или внешних объектов в пространстве.
                            p
                                | 5.4. Каждый соревновательный комплекс представляет собой уникальную комплексную двигательную задачу, состоящую из различных движений по перемещению собственного тела, а также контролю и управлению внешними объектами.
                            p
                                | 5.5. Комплексы упражнений для различных возрастных категорий различаются по степени технической сложности и степени нагрузки.
                            p
                                | 5.6. Количество упражнений может составлять до 20, их необходимо выполнять максимально быстро, в последовательности, оговоренной заданием.
                            p
                                | 5.7. Соревновательные задания, входящие в программу Соревнования, будут анонсированы для участников в день соревнований либо раньше по решению Оргкомитета
                            p 5.8. Формат соревновательных заданий включает следующие составные части:
                            p 5.8.1. Определенные движения
                            p • Стартовая и конечная точки движении
                            p
                                | • Ограничения в технике выполнения и/или используемом оборудовании в случае их наличия
                            p • Различия в рамках возрастных категорий, при их наличии
                            p 5.8.2. Определенное количество подходов и/или повторений
                            p 5.8.3. Определенное оборудование
                            p 5.8.4. Определенный вес отягощений
                            p 5.8.5. Фиксированное время работы или лимит времени
                            p 5.8.6. Особенности присуждения очков.
                            p
                                | 5.9. Некоторые из комплексов могут иметь временные штрафы. В случае, если Атлет не выполняет задание в установленное время, он может получить штраф, на усмотрение Оргкомитета Соревнований, за каждое невыполненное повторение и/или не продвинется к следующей ступени Соревнований
                            p
                                | 5.10. Некоторые из соревновательных заданий могут иметь минимальный показатель времени, повторений, веса отягощений или раундов для дальнейшего продвижения. В случае наличия подобного минимума, это будет озвучено как часть соревновательного задания. Неспособность Атлета достичь минимума приведет к невозможности продвижения Атлета к следующему заданию.
                            p 5.11. Масштабирование или изменение соревновательных заданий запрещены.
                            h2#s6 6. Определение победителей.
                            p
                                | 6.1. Атлет с лучшим результатом становится первым и получает 1 балл, далее следует Атлет со следующим результатом, который получает 2 балла и т.д.
                            p
                                | 6.2. Если Атлеты показали одинаковый результат, то каждому из Атлетов с одинаковым результатом присуждается по одинаковому количеству баллов, следующие Атлеты начинают считаться по порядковому номеру, к примеру: 1,1,3,4...
                            p 6.3. На протяжении всего Соревнования зачет очков ведется общий.
                            p
                                | 6.4. По усмотрению Оргкомитета начисление очков в отдельных соревновательных заданиях может иметь дополнительный коэффициент (повышающий или понижающий), что будет оговорено при объявлении задания.
                            p
                                | 6.5. Победитель определяется по лучшему совокупному результату выполнения всех соревновательных заданий в рамках программы Соревнований в своей возрастной категории.
                            p
                                | 6.6. При наличии Атлетов, показавших одинаковый результат по итогам прохождения всех заданий, победителем считается спортсмен, который показал лучший результат выполнения последнего комплекса упражнений. В случае совпадения результатов последнего комплекса, сравнение ведется по результатам второго комплекса и т.д.
                            p
                                | 6.7. Награждение победителей в каждом из отдельных этапов Соревнования остается на усмотрение спонсоров.
                            p
                                | 6.8.В случае отклоненного видео в связи с невыполнением стандартов движения Атлет будет исключен из финального лидерборда, и его место присуждается Атлету, занимающему в Таблице лидеров следующую по порядку позицию.
                            h2#s7 7. Судейство соревнований.
                            p
                                | 7.1. Судьи ответственны за отслеживание стандартов движений и подтверждение результата Атлетов.
                            p
                                | 7.2. Нарушение Атлетом требований, установленных стандартов движения или его амплитуды ведет к незачету повторения (далее «no-rep»). Судья, в данном случае, имеет несколько возможностей по изменению результата, опубликованного Атлетом:
                            p
                                | 7.2.1. «Отличное видео» - Атлет демонстрирует полное соблюдение стандартов движений, описанных в условиях выполнения соревновательных заданий, видео не модерируется судьей , результат вводится в Таблицу лидеров
                            p
                                | 7.2.2. «Хорошее видео» - от 1 до 4 no-rep на протяжении всего видео. Видео может быть пересмотрено, и no-rep могут повлиять на финальный результат Атлета, в частности это касается призовых мест.
                            p
                                | 7.2.3. «Удовлетворительное видео» - от 5 до 7 no-rep на протяжении всего видео. Видео может быть пересмотрено, и Атлет может потерять до 15% от своего результата.
                            p
                                | 7.2.4. «Неудовлетворительное видео» - более 8 no-rep на протяжении всего видео. Видео отклоняется с пометкой «не удовлетворяет стандартам Соревнований»
                            p
                                | 7.3. Атлет является единственно ответственным за уточнение всех вопросов относительно стандартов движения перед выполнением соревновательного комплекса.
                            p
                                | 7.4.. В случае наличия физических ограничений в реализации полной амплитуды движения, обусловленных физическими дефектами или временными или хроническими травмами, Атлет обязан заранее уведомить судейский состав.
                            p
                                | 7.5. Отказ в выполнении инструкций Судьи, перебранки или попытки унизить судью или персонал может вылиться в штрафные санкции или дисквалификацию Атлета с Соревнований и/или будущих Соревнований. Это также касается уничижительных комментариев со стороны тренера Атлета, его представителя, группы поддержки или гостя.
                            p
                                | 7.6. Судьи Соревнований имеют право остановить выполнение Атлетом задания в любой момент Соревнований, если предполагают, что Атлет находится под угрозой нанесения серьезной травмы себе и/или окружающих.
                            p
                                | 7.7. Как только Атлет вступил на соревновательную территорию, тренерам и зрителям запрещено передавать ему какие-либо предметы (воду, магнезию, тейпы и т.д.).
                            p
                                | 7.8. Судьи оставляют за собой право, на усмотрение судейской коллегии, дать переделать комплекс Атлету. В данном случае, протесты со стороны участников по решению судей не принимаются.
                            p
                                | 7.7. В обязательном порядке просматриваются призеры, как в каждом из дивизионов и соревновательном задании, так и призеры по сумме соревновательных заданий, остальные участники соревнований просматриваются выборочно.
                            p
                                | 7.8. После того, как соревновательные задания официально получает статус "закрыт", изменения могут вноситься только в случае, если по сумме комплексов определяется лидер с неотсмотренными видео.
                            h2#s8 8. Протесты.
                            p
                                | 8.1. Любые протесты относительно судейства стандартов движения, подсчета очков и правил немедленно подаются в электронной форме.
                            p
                                | 8.2. Только Атлеты могут подавать протест относительно судейства, зачета повторений или качества движений других Атлетов в строго отведенное время.
                            p
                                | 8.3. Все заинтересованные стороны смогут предоставить известные им факты после закрытия конкретного комплекса в период его проверки.
                            p 8.4. Для всех подаваемых протестов будут предприняты следующие шаги:
                            p
                                | 8.4.1. Только соревнующийся Атлет (тренеры и другие Атлеты не участвуют в разрешении протеста) может заявить протест. Для этого необходимо в электронной форме  выслать письмо на почту Соревнований, в течение двух дней с момента оглашения результатов. В письме необходимо указать ФИО Атлета, номер Атлета и причину протеста.
                            p 8.4.2. Оргкомитет Соревнований и Атлет выясняют сущность и разрешают протест.
                            p 8.4.3. Вся информация является конфиденциальной и разглашению не подлежит.
                            p
                                | 8.5. Спорное решение, принятое в процессе Соревнований, является финальным и не подлежит изменению.
                            p
                                | 8.6. Видео, фотографии и т.д. не являются почвой для
                                | изменения решения Судьи Соревнований. Судьи или уполномоченное лицо могут запросить любые связанные с протестом медиа-файлы, однако наличие этих файлов не гарантирует их использование в процессе вынесения решения.
                            h2#s9 9. Условия финансирования.
                            p
                                | 9.1. Победители и призеры среди участников награждаются медалями, грамотами и ценными призами на усмотрение спонсоров и партнеров.
                            h2#s10
                                | 10. Обеспечение безопасности участников и зрителей при сдаче комплексов в аффилированных залах.
                            p
                                | 10.1. Каждый участник Соревнований несет ответственность за себя лично и в случае получения травмы претензий к организаторам не имеет.
                            p
                                | 10.2. В целях обеспечения безопасности зрителей и участников Соревнования разрешается проводить на спортивных сооружениях, принятых к эксплуатации государственными комиссиями, при условии наличия актов технического обследования, готовности сооружения к проведению мероприятия, в соответствии с «Положением о мерах по обеспечению общественного порядка и безопасности, а также эксплуатации и оповещения участников и зрителей при проведении массовых и спортивных мероприятий (№786 от 17.10.1983), «Рекомендации по обеспечению безопасности и профилактике травматизма при занятиях физической культурой и спортом (№ 44 от 01.04.1993).

