<html style="border: 0; margin: 0; padding: 0">
<body style="border: 0; margin: 0; padding: 0">

<div style="background-color: #eaeaea;padding-top: 50px;padding-bottom: 50px;">

    <table border="0" align="center" cellspacing="0" cellpadding="0" style="width: 600px;background-color: white;border-collapse: collapse;border-bottom: 0">
        <tbody>
        <tr style="height: 311px;">
            <td style="">
                <div style="text-align: left;">
                    <img src="http://valet24.ru/images/subscr_top.jpg" alt="Valet24 - Круглосуточная доставка продуктов">
                </div>
            </td>

        </tr>
        </tbody>
    </table>

    <table border="0" align="center" cellspacing="0" cellpadding="0" style="width: 600px;background-color: white;border-collapse: collapse;border-bottom: 0; border-top:0;">
        <tbody>
        <tr style="height: 160px;">
            <td style="font-family: arail, sans-serif; font-size: 14px; padding-bottom: 50px;">
                <div style="text-align: left; padding-left: 40px;; padding-right: 40px; font-size: 14px; line-height: 21px;">

                    <h3 style="font-weight: bold; text-align: center;height: 60px;padding-top: 30px;">{{name}}</h3>
                    <div style="text-align: center;">
                        Вы зарегистрировались на сервисе круглосуточной службы доставки продуктов Valet24.ru!<br/><br/>

                        <span style="text-align: center;">Для подтверждения нажмите</span>

                        <a style="display: block;
                                    margin: 0 auto;
                                    margin-top: 30px;
                                    background-color: #43b760;
                                    width: 260px;
                                    font-size: 18px;
                                    text-decoration: none;
                                    color: #fff;
                                    padding-top: 20px;
                                    padding-bottom: 19px;
                                    box-shadow: 0 2px 11px rgba(0,0,0,0.2);
                                    border: 1px solid #fff;
                                    cursor: pointer;"
                           target="_blank" href="{{link_confirm}}">Завершить регистрацию</a>

                        <br/><br/>

                        <div style="color: #555;font-size: 12px;">Внимание, если ссылка не работает, это означает что Ваш почтовик её заблокировал, для завершения регистрации скопируйте эту ссылку:<br/><br/> {{link_confirm}}<br/><br/> и вставьте ее в адресную строку браузера.</div>

                        <br/><br/>

                        <div style="color: #999;font-size: 12px;">Если Вы не регистрировались на сервисе Valet24.ru просто проигнорируйте это письмо.</div>

                        <br/><br/>

                        <div style="color: #999;font-size: 12px;">Если Вы не хотите более получать от нас писем - нажмите <a href="http://valet24.ru/unsubscribe?user_key=8391273">здесь</a>.</div>

                    </div>

                </div>
                <div style="    font-size: 13px;
    text-align: center;
    line-height: 20px;
    padding-top: 30px;">
                    С уважением, Команда Valet24.ru!
                </div>
            </td>
        </tr>
        </tbody>
    </table>



</div>

</body>
</html>
