<html style="border: 0; margin: 0; padding: 0">
<body style="border: 0; margin: 0; padding: 0">

<div style="background-color: #eaeaea;padding-top: 50px;padding-bottom: 50px;">

    <table border="0" align="center" cellspacing="0" cellpadding="0" style="width: 600px;background-color: white;border-collapse: collapse;border-bottom: 0">
        <tbody>
        <tr style="height: 160px;">
            <td style="">
                <div style="text-align: left; padding-left: 40px;">
                    <img src="http://valet24.ru/images/logo_blank.png" alt="Valet24 - Круглосуточная доставка продуктов">
                </div>
            </td>

        </tr>
        </tbody>
    </table>

    <table border="0" align="center" cellspacing="0" cellpadding="0" style="width: 600px;background-color: white;border-collapse: collapse;border: 1px solid #d5c3c3;border-bottom: 0; border-top:0;">
        <tbody>
        <tr style="height: 160px;">
            <td style="font-family: arail, sans-serif; font-size: 14px; padding-bottom: 50px;">
                <div style="text-align: left; padding-left: 40px;; padding-right: 40px; font-size: 14px; line-height: 21px;">

                    <h3 style="font-weight: bold; text-align: center;height: 60px;padding-top: 30px;">{{name}}</h3>
                    <div style="height: 280px;">
                        ORDER Вы зарегистрировались на сервисе круглосуточной службы доставки продуктов Valet24!<br/><br/>

                        <span style="text-align: center;">Для завершения регистарции нажмите</span>

                        <a target="_blank" href="{{link_confirm}}">Завершить регистарцию</a>
                    </div>

                </div>
                <div style="    padding-left: 60px;
                    font-size: 14px;
                    line-height: 20px;
                    padding-top: 30px;">
                    С уважением,<br/>
                    ООО "ВиДжи Файнэнсинг"
                </div>
            </td>
        </tr>
        </tbody>
    </table>

    <table border="0" align="center" cellspacing="0" cellpadding="0" style="width: 600px;background-color: white;border-collapse: collapse;border: 1px solid #d5c3c3;;border-top: 0">
        <tbody>
        <tr style="height: 231px;">
            <td style="">
                <div style="text-align: left; padding-left: 0;">
                    <img src="http://vgfinancing.com/images/blank_bottom.png" alt="VG Financing - авансирование торгового оборота, совместно с ВТБ24.">
                </div>
            </td>

        </tr>
        </tbody>
    </table>


</div>

</body>
</html>
