<html style="border: 0; margin: 0; padding: 0">
<body style="border: 0; margin: 0; padding: 0">

<div style="background-color: #eaeaea;padding-top: 50px;padding-bottom: 50px;">

    <table border="0" align="center" cellspacing="0" cellpadding="0" style="width: 600px;background-color: white;border-collapse: collapse;border-bottom: 0">
        <tbody>
        <tr style="height: 311px;">
            <td style="">
                <div style="text-align: left;">
                    <img src="http://valet24.ru/images/subscr_top.jpg" alt="Valet24 - Круглосуточная доставка продуктов">
                </div>
            </td>

        </tr>
        </tbody>
    </table>

    <table border="0" align="center" cellspacing="0" cellpadding="0" style="width: 600px;background-color: white;border-collapse: collapse;border-bottom: 0; border-top:0;">
        <tbody>
        <tr style="height: 160px;">
            <td style="font-family: arial, sans-serif; font-size: 14px; padding-bottom: 50px;">
                <div style="text-align: left; padding-left: 40px;; padding-right: 40px; font-size: 14px; line-height: 21px;">

                    <h3 style="font-weight: bold; text-align: center;height: 60px;padding-top: 30px;">{{name}}</h3>
                    <div style="text-align: center;">
                        Ваш заказ № <b>{{order_id}}</b> создан и ожидает обработки, наш менеджер свяжется с Вами в ближайшее время!<br/><br/>

                        {{{product_table}}}
                        <br/>

                        <div style="text-align: left;">Товаров на сумму: {{order_amount}} руб.</div>
                        <div style="text-align: left;">Стоимость доставки: {{delivery_amount}} руб.</div>
                        <div style="text-align: left; font-size: 16px;"><b>Итого к оплате: {{total_to_pay}} руб.</b></div>

                        <br/><br/>

                        По любым вопросам звоните: +7 (495) 134-39-12

                        <br/><br/>

                        <div style="color: #999;font-size: 12px;">Если Вы не хотите более получать от нас писем - нажмите <a href="http://valet24.ru/unsubscribe?user_key=8391273">здесь</a>.</div>

                    </div>

                </div>
                <div style="    font-size: 13px;
    text-align: center;
    line-height: 20px;
    padding-top: 30px;">
                    С уважением, Команда Valet24.ru!
                </div>
            </td>
        </tr>
        </tbody>
    </table>



</div>

</body>
</html>
