<form class="form-horizontal">
    <div class="row">
        <div class="col-md-12">
            <div class="col-md-6">
                <div class="form-group col-md-12">
                    <label>Логин:</label>
                    <div class="input-group">
                        <div class="input-group-addon"><i class="fa fa-user"></i></div>
                        <input type="text" class="form-control" id="login"/>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group col-md-12">
                    <label>Пароль:</label>
                    <div class="input-group">
                        <div class="input-group-addon"><i class="fa fa-key"></i></div>
                        <input type="password" class="form-control" id="password"/>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <a href="registration" class="white">Регистрация</a>
            </div>
        </div>
    </div>
</form>
